<ion-header [translucent]="true" class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-icon class="ion-padding-start" size="large" slot="start" (click)="close()" name="chevron-back-outline">
    </ion-icon>
    <ion-title class="ion-text-center">Detail Produit</ion-title>
    <ion-buttons slot="secondary">
      <ion-button class="cart">
        <ion-icon [id]="carts.length" slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal" [scrollEvents]="true" (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)" (ionScrollEnd)="logScrollEnd()">
  <br>
  <div style="height: 400px; border-radius: 20px; background-color: gainsboro;overflow: hidden;position: relative;">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let item of article.images">
        <img [src]="item.image" alt="" srcset="">
      </ion-slide>
    </ion-slides>
  </div>
  <br>
  <h5 style="color: #000;font-size: xx-large;font-family: 'DM Sans Medium';">
    {{article.designation}}
  </h5>
  <div style="display:flex; align-items: center; gap: 5px;justify-content: flex-start;">
    <label style="font-family: 'DM Sans Medium';">Prix :</label>
    <span style="font-family: Serif" class="init">
      π
    </span>
    <span style="font-family: 'DM Sans Medium';" class="price">
      {{article.unitPrice}}
    </span>
  </div>
  <div style="display:flex;border-bottom: 1px solid #c5c3c3;"
    class=" ion-justify-content-between ion-align-items-center ion-padding-bottom ion-margin-vertical">
    <div style=" display: flex; align-items: center;gap: 20px;">
      <div style="display: flex; align-items: center;gap: 5px;">
        <ion-icon style="margin-bottom: 4px;font-size:large;" color="warning" name="star"></ion-icon>
        <span style="font-size: 17px">0</span>
      </div>
      <div style="font-size: 17px">
        0 Reviews
      </div>
    </div>
  </div>
  <br>
  <ion-item lines="full">
    <ion-avatar slot="start">
      <img [src]="'/assets/images/img3.jpg'" />
    </ion-avatar>
    <ion-text class="ion-margin-bottom" color="primary">
      <h4 class="text-black">Shop Larson Electronic</h4>
      <ion-label class="text-black" style="font-size:15px">Official store</ion-label>
    </ion-text>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
  <br>
  <h5 style="color: #000;font-size: x-large;font-family: 'DM Sans Medium';">
    Description
  </h5>
  <ion-text style="color: #000" color="primary">
    <span style="font-size:14px" [innerHTML]="article.detail">
    </span>
    <br>
  </ion-text>
  <br>
  <div class="ion-justify-content-between" style="display:flex">
    <h4 style="font-size:20px;color: #000">Review (88)</h4>
    <div style="display: flex; align-items: center;gap: 5px;">
      <ion-icon style="margin-bottom: 4px;font-size:large;" color="warning" name="star"></ion-icon>
      <span style="font-size: 17px">40</span>
    </div>
  </div>
  <br>
  <br>
  <ion-item class="reviews" lines="full" *ngFor="let item of [1,1,1,1,1]">
    <ion-avatar slot="start">
      <img [src]="'/assets/images/img7.png'" />
    </ion-avatar>
    <ion-text class="ion-margin-bottom" color="primary">
      <div style="display:flex" class="ion-justify-content-between ion-align-items-center ion-margin-top">
        <h4 style="font-size:25px;color: #000" class="ion-no-margin">Yelena Belova</h4>
        <ion-note>
          12 days ago
        </ion-note>
      </div>
      <div style="display:flex; gap: 3px;font-size: 15px">
        <ion-icon slot="start" color="warning" name="star"></ion-icon>
        <ion-icon slot="start" color="warning" name="star"></ion-icon>
        <ion-icon slot="start" name="star-outline"></ion-icon>
        <ion-icon slot="start" name="star-outline"></ion-icon>
        <ion-icon slot="start" name="star-outline"></ion-icon>
      </div>
      <p style="font-size:15px;color: #000">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore libero nam vero asperiores exercitationem
        autem...
      </p>
    </ion-text>
  </ion-item>
  <br>
  <div #btnAddCart class="box-btn-row">
    <ion-row class="btn-row mt">
      <ion-col size="12">
        <button class="ion-activatable ripple-parent custom-parent btn-primary">
          <ion-label>Ajouter du panier</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </ion-col>
    </ion-row>
  </div>
  <br>
</ion-content>