.cart-empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h5 {
  margin: 0;
}
p {
  margin-bottom: 0;
}

.image-preview {
  width: 50px;
  overflow: hidden;
  height: 50px;
  border-radius: 5px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
ion-button {
  height: 50px;
}

ion-item {
  background-color: white;
}


ion-item:part(native) {
  .item-inner {
    padding-right: 0;
  }
}

.pointer{
  border: 1px solid;
  border-radius: 50%;
}

.item-quantity{
  width: 30px;
  text-align: center;
}
