ion-searchbar {
  --border-radius: 18px;
  --box-shadow: none;
}
app-article {
  width: 48%;
}
.empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
