<ion-content class="ion-padding-horizontal">
  <div class="mt-70 d-flex ion-justify-content-between ion-align-items-center" style=" gap: 10px">
    <ion-searchbar color="light" class="ion-no-border ion-no-padding" show-clear-button="always"></ion-searchbar>
    <ion-icon size="large" (click)="openFilter()" slot="end" name="filter-outline"></ion-icon>
  </div>
  <div style="display: flex; gap: 10px;" class="ion-justify-content-center ion-align-items-center ion-wrap">
    <app-article [article]="item" *ngFor="let item of articles"></app-article>
  </div>
</ion-content>