<ion-content class="ion-padding">
  <h5 class=" ion-no-marginion-margin-bottom">Liste article</h5>
  <div class="card">
    <p-table #dt1 [value]="articles" [tableStyle]="{'min-height': '300px'}">

      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="p-d-flex p-jc-between  text-upper p-ai-center text-upper   ">
              Designation
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between  text-upper p-ai-center">
              Prix
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between  text-upper p-ai-center">
              Magasin
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between  text-upper p-ai-center">
              Categorie
            </div>
          </th>
          <th style="width: 8rem">
            <div class="p-d-flex p-jc-between  text-upper p-ai-center">
              Actions
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td class="d-flex" *ngIf="customer.images[0]">
            <span class="image-text">
              <ion-img style="width: 50px;height: 50px;" [src]="customer.images[0].image"></ion-img>
            </span>
            <div>
              {{customer.designation}}
            </div>
          </td>
          <td>
            <span class="image-text">{{customer.unitPrice}}</span>
          </td>
          <td>
            {{customer.store.name}}
          </td>
          <td>
            {{customer.category.name}}
          </td>

          <td>
            <div class="d-flex ion-justify-content-around" style="gap: 20px">

              <!-- <i class="pi pi-eye" (click)="show(customer)"></i> -->
              <i class="pi pi-ban"></i>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Aucune donnée.</td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator [rows]="5" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>
  </div>

</ion-content>
