<ion-content class="ion-padding">
  <h5 class=" ion-no-marginion-margin-bottom">Liste article</h5>
  <div class="card">
    <p-table #dt1 [value]="articles" [tableStyle]="{'min-height': '300px'}">

      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="p-d-flex p-jc-between">
              Designation
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between ">
              Prix
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between ">
              Magasin
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between ">
              Categorie
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td class="d-flex ion-align-items-center ion-justify-content-start gap-10" *ngIf="customer.images[0]">
            <span class="image-text">
              <ion-img  [src]="customer.images[0].image"></ion-img>
            </span>
            <div>
              {{customer.designation}}
            </div>
          </td>
          <td>
            <span class="image-text">{{customer.unitPrice}}</span>
          </td>
          <td>
            {{customer.store.name}}
          </td>
          <td>
            {{customer.category.name}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Aucune donnée.</td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator [rows]="5" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>
  </div>

</ion-content>
