<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="secondary">
			<ion-button>
				<ion-icon id="0" slot="icon-only" class="marked" name="notifications-outline"></ion-icon>
			</ion-button>
			<ion-button (click)="onCart()">
				<ion-icon [id]="carts.length" slot="icon-only" class="marked" name="cart-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Pi-varotra</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-router-outlet></ion-router-outlet>
</ion-content>
<ion-tabs>
	<ion-tab-bar slot="bottom,top">
		<ion-tab-button tab="home">
			<ion-icon size="small" name="home-outline"></ion-icon>
			<ion-label>Accueil</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="search" [routerLink]="['/client/search']" routerLinkActive="router-link-active">
			<ion-icon size="small" name="search-outline"></ion-icon>
			<ion-label>Recherche</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="new">
			<ion-icon size="small" name="megaphone-outline"></ion-icon>
			<ion-label>Nouveau</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="store">
			<ion-icon size="small" name="storefront-outline"></ion-icon>
			<ion-label>Magasins</ion-label>
		</ion-tab-button>
		<ion-tab-button *ngIf="isLogged;else notLogged" size="small" tab="space-client">
			<ion-icon name="apps-outline"></ion-icon>
			<ion-label>Espace client</ion-label>
		</ion-tab-button>
		<ng-template #notLogged>
			<ion-tab-button size="small" (click)="gotoLogin()">
				<ion-icon name="person-outline"></ion-icon>
				<ion-label>Compte</ion-label>
			</ion-tab-button>
		</ng-template>
	</ion-tab-bar>
</ion-tabs>