ion-title {
  font-size: var(--ion-text-size-4x);
  font-weight: 600;
  font-family: 'DM sans medium';
  background: -webkit-linear-gradient(
    top left,
    var(--ion-color-primary),
    var(--ion-color-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
ion-header ion-icon.marked {
  position: relative;
  &::after {
    content: attr(id);
    position: absolute;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    top: 0;
    transform: scale(0.9);
    padding: 1px;
    right: 0;
    color: white;
    font-size: 9px;
    font-weight: bold;
    z-index: 100;
    border-radius: 50%;
  }
}
ion-label {
  font-size: 10px;
}
