<div class="card">
  <div>
    <img style="
        margin: auto;
    height: 130px;
    display: block;
    " [src]="store!.logo" onerror="this.onerror=null; this.src='./assets/images/shopping.png'">
    <p class="ion-no-margin" style="font-family: 'DM Sans Medium';">
      {{store.name}}
    </p>
    <div class="d-flex ion-align-items-center ion-justify-content-start" style="gap: 5px">
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <label style="font-family: 'DM Sans Medium';">
        {{store.city}}
      </label>
    </div>
  </div>
  <div style="display:flex" class="ion-justify-content-between ion-align-items-center ion-margin-vertical">
    <div class="d-flex ion-align-items-center" style="gap: 5px;">
      <ion-icon style="margin-bottom: 4px" color="warning" name="star"></ion-icon>
      <span style="font-size: 12px">
        0
      </span>
    </div>
    <div style="font-size: 12px">
      {{store?.articles?.length}} articles
    </div>
  </div>
  <ion-row class="btn-row mt">
    <ion-col size="12">
      <button (click)="onViewDetail()" class="ion-activatable ripple-parent custom-parent btn-primary">
        <ion-label>Voir detail</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-col>
  </ion-row>
</div>