<div class="card">
  <div>
    <img
      style="margin: auto; height: 130px; display: block"
      [src]="store!.logo"
      onerror="this.onerror=null; this.src='./assets/images/shopping.png'"
    />
    <h5 class="ion-no-margin no-wrap">
      {{ store.name }}
    </h5>
    <div
      class="d-flex ion-align-items-center ion-justify-content-start"
      style="gap: 5px"
    >
      <label class="text-sm  no-wrap">
        {{ store.city }}
      </label>
    </div>
  </div>
  <div
    style="display: flex"
    class="ion-justify-content-between ion-align-items-center ion-margin-vertical"
  >
    <div style="font-size: 12px">{{ store.articles.length > 0 ? store.articles.length : "Aucun" }} articles</div>
  </div>
  <ion-row class="btn-row mt">
    <ion-col size="12">
      <button
        (click)="onViewDetail()"
        class="ion-activatable ripple-parent custom-parent btn-primary"
      >
        <ion-label>Voir detail</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-col>
  </ion-row>
</div>
