<!-- <ion-content>
  <div class="ion-padding-horizontal mt-70">
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img [src]="'/assets/images/img3.jpg'" />
      </ion-avatar>
      <ion-text class="ion-margin-bottom" color="primary">
        <h4 style="font-size:25px;color: #000">Shop Larson Electronic</h4>
        <ion-label style="font-size:15px;color: #000">Official store</ion-label>
      </ion-text>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-text class="ion-margin-bottom" color="primary">
        <h4 style="font-size:25px;color: #000">Fianarantsoa</h4>
        <ion-label style="font-size:15px;color: #000">Tanambao</ion-label>
      </ion-text>
      <ion-icon name="location-outline" slot="start"></ion-icon>
    </ion-item>

  </div>
</ion-content> -->