<ion-content>
  <div class="ion-padding-horizontal mt-70">
    <h3 class="text-large">Actualité</h3>
    <ng-container *ngIf="!loading; else notLoaded">
      <ng-container *ngIf="news.length > 0, else empty">
        <app-new-card [_new]="_new" *ngFor="let _new of news"></app-new-card>
      </ng-container>
      <ng-template #empty>
        <ion-text >
          Il n'y a pas actualité pour le moment
        </ion-text>
      </ng-template>
    </ng-container>
    <ng-template #notLoaded>
        <ion-skeleton-text [animated]="true" style="width: 30%;height: 20px;"></ion-skeleton-text>
        <div class="d-flex ion-justify-content-between ion-align-items-center" *ngFor="let item of [1,1,1]">
          <div class="d-flex flex-col" style="width: 70%;gap: 10px;">
            <ion-skeleton-text [animated]="true" style="width: 30%;height: 20px;"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width:100%;height: 15px;"></ion-skeleton-text>
          </div>
          <ion-skeleton-text [animated]="true" style="width: 70px;height: 70px;"></ion-skeleton-text>
        </div>
    </ng-template>
  </div>
  <ion-infinite-scroll threshold="25%" [disabled]="true" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingText="Chargement...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
