<ion-content class="ion-padding-horizontal">
  <div>
    <br>
    <br>
    <h3 class=" ion-no-marginion-margin-bottom text-large">Liste de commande</h3>
    <p-table #dt1 [value]="orders">
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div >
              Commande
            </div>
          </th>
          <th>
            <div >
              Statut
            </div>
          </th>
          <th>
            <div >
              Date
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr (click)="showOrder(order)">
          <td>
            N° {{order.id}}
          </td>
          <td style="min-width: 100px">
            <span class="image-text">
              <ion-chip style="font-size:10px" *ngIf="!order.paymentId" color="warning" size="small">
                <ion-label>Non payé</ion-label>
              </ion-chip>
              <ion-chip style="font-size:10px" *ngIf="order.paymentU2A && order.paymentU2A.paid " color="success"
                size="small">
                <ion-label>Complete</ion-label>
              </ion-chip>
              <ion-chip style="font-size:10px"
                *ngIf="order.paymentU2A && !order.paymentU2A.paid && !order.paymentU2A.cancelled" color="danger"
                size="small">
                <ion-label>Annulé</ion-label>
              </ion-chip>
            </span>
          </td>
          <td>
            <span class="image-text">
              {{order.createdAt | date:'dd-MM-yyyy HH:mm aa'}}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Aucune donnée.</td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>
  </div>
</ion-content>
