<ion-content class="ion-padding-horizontal">
  <ion-grid>
    <ion-row class="ion-justify-content-around mt-70">
      <!-- Total Records -->
      <ion-col size="12" size-md="4">
        <ion-card class="stat-card">
          <ion-card-content class="d-flex ion-align-items-center">
            <ion-icon size="large"  name="reader-outline"></ion-icon>
            <div class="stat-content">
              <span >Nombres</span>
              <p class="stat-value">{{ totalRecords ?? 0 }}</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Sold Items -->
      <ion-col size="12" size-md="4">
        <ion-card class="stat-card">
          <ion-card-content class="d-flex ion-align-items-center">
            <ion-icon size="large"  name="bookmark-outline"></ion-icon>
            <div class="stat-content">
              <span>Vendus</span>
              <p class="stat-value">10</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Orders -->
      <ion-col size="12" size-md="4">
        <ion-card class="stat-card">
          <ion-card-content class="d-flex ion-align-items-center">
            <ion-icon size="large" name="cart-outline"></ion-icon>
            <div class="stat-content">
              <span>Commandes</span>
              <p class="stat-value">{{ orders.length ?? 0 }}</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="width: 100%">
    <br>
    <br>
    <h3 class=" ion-no-marginion-margin-bottom text-large">Liste produit</h3>
    <ion-list>
      <ion-item *ngFor="let product of products; let i = index" (click)="displayActions(product,i)">
        <ion-thumbnail slot="start">
          <ion-img [src]="product.images.length > 0 ? product.images[0].image : ''" alt="Product Image"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ product.designation }}</h2>
          <p>Prix: {{ product.unitPrice }} π</p>
          <p>Stock: {{ product.stock }}</p>
        </ion-label>
      </ion-item>
      <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Chargement...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>


  </div>
  <br>
  <br>
  <br>
  <br>
  <ion-fab vertical="bottom" horizontal="end" (click)="addProduit()" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
