.primary {
  font-size: var(--ion-text-size-4x);
  font-weight: 600;
  font-family: 'DM sans medium';
  background: -webkit-linear-gradient(
    top left,
    var(--ion-color-primary),
    var(--ion-color-secondary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  flex-direction: column;
  box-shadow: 0px 20px 20px 2px #140dda2e;
  border-radius: 8px;
  font-size: 10px;
  gap: 5px;
  width: 28%;
  padding: 10px 15px;
}
th,
td {
  font-size: 12px;
}

.btn-action {
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 3px;
}
.warning {
  border: 1px solid var(--ion-color-secondary);
  color: var(--ion-color-secondary);
}
.primary2 {
  border: 1px solid var(--ion-color-primary);
  color: var(--ion-color-primary);
}

.stat-card {
  border-radius: 15px;
  box-shadow: -2px 2px 0px 0px #a855f7;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.stat-content {
  margin-left: 10px;
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
  color: var(--ion-color-primary);
  text-align: right;
}

.ion-align-items-center{
  align-items: start !important;
}
