<ion-content>
  <div class="d-flex ion-justify-content-around mt-70">
    <div class="d-flex ion-align-items-center card">
      <div class="d-flex ion-justify-content-between ion-align-items-center" style="gap: 10px">
        <ion-icon size="large" color="primary" name="reader-outline"></ion-icon>
        <div>
          <span class="text-primary">Commandes</span>
          <p style="font-size: 25px" color="primary" class="ion-no-margin primary">
            50
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex ion-align-items-center card">
      <div class="d-flex ion-justify-content-between ion-align-items-center" style="gap: 10px">
        <ion-icon size="large" color="primary" name="bookmark-outline"></ion-icon>
        <div>
          <span class="text-primary">Favoris</span>
          <p style="font-size: 25px" color="primary" class="ion-no-margin primary">
            10
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex ion-align-items-center card">
      <div class="d-flex ion-justify-content-between ion-align-items-center" style="gap: 10px">
        <ion-icon size="large" color="primary" name="reader-outline"></ion-icon>
        <div>
          <span class="text-primary">Commandes</span>
          <p style="font-size: 25px" color="primary" class="ion-no-margin primary">
            500
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <ion-card>
    <ion-card-content>
      <canvas #barCanvas style="position: relative; height:15vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>
  <br>
  <div class="d-flex ion-justify-content-center ion-wrap ion-margin-horizontal" style="gap: 20px">
    <div (click)="onOpenParams()" class="d-flex ion-align-items-center card" style="padding: 10px">
      <div class="d-flex ion-justify-content-between ion-align-items-center" style="gap: 10px;flex-direction: column;">
        <ion-icon size="large" color="primary" name="settings-outline"></ion-icon>
        <ion-label style="font-size: 10px">Paramètres</ion-label>
      </div>
    </div>
    <div class="d-flex ion-align-items-center card" style="padding: 10px">
      <div class="d-flex ion-justify-content-between ion-align-items-center" style="gap: 10px;flex-direction: column;">
        <ion-icon size="large" color="primary" name="bag-handle-outline"></ion-icon>
        <ion-label style="font-size: 10px">Commande</ion-label>
      </div>
    </div>
    <div class="d-flex ion-align-items-center card" style="padding: 10px">
      <div class="d-flex ion-justify-content-between ion-align-items-center" style="gap: 10px;flex-direction: column;">
        <ion-icon size="large" color="primary" name="bag-check-outline"></ion-icon>
        <ion-label style="font-size: 10px">Commande payé</ion-label>
      </div>
    </div>
    <div class="d-flex ion-align-items-center card" style="padding: 10px">
      <div class="d-flex ion-justify-content-between ion-align-items-center" style="gap: 10px;flex-direction: column;">
        <ion-icon size="large" color="primary" name="bag-outline"></ion-icon>
        <ion-label style="font-size: 10px">Commande en attente</ion-label>
      </div>
    </div>

    <ng-container *ngIf="!currentUser?.store;else createdStoreTemplate">
      <div class="d-flex ion-align-items-center card" (click)="createStore()" style="padding: 10px">
        <div class="d-flex ion-justify-content-between ion-align-items-center"
          style="gap: 10px;flex-direction: column;">
          <ion-icon size="large" color="primary" name="storefront-outline"></ion-icon>
          <ion-label style="font-size: 10px">Créer un magasin</ion-label>
        </div>
      </div>
    </ng-container>
    <ng-template #createdStoreTemplate>
      <div class="d-flex ion-align-items-center card" style="padding: 10px">
        <div class="d-flex ion-justify-content-between ion-align-items-center"
          style="gap: 10px;flex-direction: column;">
          <ion-icon size="large" color="primary" name="storefront-outline"></ion-icon>
          <ion-label style="font-size: 10px">Mon magasin</ion-label>
        </div>
      </div>
    </ng-template>
  </div>
</ion-content>