<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-icon class="ion-padding-start" size="large" slot="start" (click)="backHome()" name="chevron-back-outline">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-justify-content-center center max-w-400">
    <form [formGroup]="loginForm">
      <ion-img [src]="'/assets/images/pi_varotra.png'"></ion-img>
      <ion-row>
        <ion-col size="12">
          <h1 class="ion-text-center">Bienvenue de retour!</h1>
        </ion-col>
        <ion-col size="12">
          <p class="ion-no-margin">Connectez-vous à votre compte</p>
        </ion-col>
      </ion-row>
      <ion-row class="btn-row mt">
        <ion-col size="12">
          <button [disabled]="isSubmited" (click)="login()"
            class="ion-activatable ripple-parent custom-parent btn-primary">
            <ng-container *ngIf="!isSubmited;else templateLoading">
              Se connecter pi network
            </ng-container>
            <ng-template #templateLoading>
              <ion-spinner name="circular" style="color:#FFF"></ion-spinner>
            </ng-template>
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </ion-col>
      </ion-row>
    </form>
    <br>
    <br>
  </div>
</ion-content>
