<ion-row>
  <ion-col size="12">
    <h1 class="ion-text-center">Profile & Mot de passe</h1>
  </ion-col>
  <ion-col size="12">
    <p class="ion-no-margin">Veuillez remplier correctement les champs demandés</p>
  </ion-col>
</ion-row>
<form [formGroup]="signUpForm">
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Nom </ion-label>
        <ion-input required formControlName="lastname" required type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Prénoms</ion-label>
        <ion-input required formControlName="firstname" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input required formControlName="password" type="password"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Comfirmation</ion-label>
        <ion-input required formControlName="confirm" type="password"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-text *ngIf="password?.valid && password?.value !== confirm?.value">
    <span class="small-size" style="color: red;">
      Mot de passe n'est pas confirmé
    </span>
  </ion-text>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Code d'invitation (Optionnel)</ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="btn-row mt">
    <ion-col size="12">
      <button [disabled]="isSubmited || signUpForm.invalid || password?.value !== confirm?.value" (click)="save()"
        class="ion-activatable ripple-parent custom-parent btn-primary">
        <ng-container *ngIf="!isSubmited;else templateLoading">
          Continue
        </ng-container>
        <ng-template #templateLoading>
          <ion-spinner name="circular" style="color:#FFF"></ion-spinner>
        </ng-template>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-col>
  </ion-row>
</form>
<br>
<br>