<ion-header [translucent]="true" class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-icon class="ion-padding-start" size="small" slot="start" (click)="prev()" name="chevron-back-outline">
    </ion-icon>
    <ion-title class="ion-text-center text-sm" >Création du magasin</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content class="ion-padding-horizontal">
  <ion-slides #slider  [options]="slideOpts">
    <ion-slide class="flex flex-col ion-padding-horizontal ion-text-start">
      <h1 class="ion-text-start text-medium">Bienvenue sur la création de votre magasin</h1>
      <div class="box-img">
        <img [src]="'./assets/images/store.png'" />
      </div>
      <p class="text-sm text-justify">
        Votre magasin est un espace virtuel qui vous permet de vendre vos produits et services en ligne.
        Vous pouvez créer un magasin en quelques minutes et commencer à vendre en ligne.

      </p>

    </ion-slide>
    <ion-slide class="flex flex-col ion-padding-horizontal ion-text-start">
      <h1 class="ion-text-start text-medium">Information nécessaire</h1>
      <p class="text-sm text-justify">
        Veuillez renseigner les informations necessaire pour la creation de votre magasin.
      </p>
      <br>
      <div class="box-img">
        <img [src]="'./assets/images/circle-store.png'" />
      </div>
      <form [formGroup]="storeForm" class="text-sm">
        <ion-item>
          <ion-label class="text-sm" position="floating">Nom du magasin</ion-label>
          <ion-input required formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="text-sm" position="floating">Address du magasin</ion-label>
          <ion-input required formControlName="address" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="text-sm" position="floating">Contact </ion-label>
          <ion-input required formControlName="contact" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="text-sm" position="floating">Ville</ion-label>
          <ion-input required formControlName="city" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="text-sm" position="floating">Description</ion-label>
          <ion-textarea required formControlName="description"  type="text"></ion-textarea>
        </ion-item>
      </form>
    </ion-slide>
    <ion-slide>
      <ion-slide class="flex flex-col ion-padding-horizontal ion-text-start">
        <h1 class="ion-text-start text-medium">Lirvaison</h1>
        <p class="text-sm text-justify">
          Veuillez remplir les informations necessaire si votre magasin offre la livraison.
        </p>
        <div class="box-img">
          <img [src]="'./assets/images/delivery.png'" />
        </div>
        <form [formGroup]="storeForm">
          <div formArrayName="deliveries">
            <div *ngFor=" let d of deliverieMode().controls; let i=index" [formGroupName]="i" class="box-flex">

              <ion-item>
                <ion-label class="text-sm" position="floating">Distance en KM</ion-label>
                <ion-input required formControlName="distance" placeholder="10" type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label class="text-sm" position="floating">Frais</ion-label>
                <ion-input required formControlName="costs" placeholder="0.07" type="text"></ion-input>
              </ion-item>
              <ion-icon size="large" (click)="removeDeliverieMode(i)" color="danger" name="remove-circle-outline">
              </ion-icon>
            </div>
          </div>
          <div class="box-flex">
            <ion-row class="btn-row mt" *ngIf="deliverieMode().length < 4">
              <ion-col size="12">
                <button type="submit" (click)="addDeliverieMode()" style="padding: 0 20px"
                  class="ion-activatable ripple-parent custom-parent btn-primary">
                  <ion-label class="text-sm">Ajouter une distance</ion-label>
                  <ion-ripple-effect></ion-ripple-effect>
                </button>
              </ion-col>
            </ion-row>
          </div>
        </form>
      </ion-slide>
    </ion-slide>
    <ion-slide class="flex flex-col ion-padding-horizontal ion-text-start">
      <h1 class="ion-text-start text-medium">Création</h1>
      <p class="text-sm text-justify">
        Votre logo du magasin et soumession votre magasin pour la validation.
      </p>
      <div *ngIf="!preview" class="ion-margin-vertical d-flex ion-align-items-center ion-justify-content-around upload-image"
      style="gap: 10px;flex-wrap: wrap;">
      <div class="add-image d-flex ion-align-items-center ion-justify-content-center"
        (click)="imageComponent.selectImageSource()">
        <ion-icon name="add" color="light"></ion-icon>
      </div>
      </div>

        <app-images #imageComponent (selectImageEvent)="getImage($event)"></app-images>
      <div class="box-img" [ngClass]="{'add': !preview}" (click)="imageComponent.selectImageSource()">
        <img [src]=" preview ? preview :'./assets/images/store-open.png'" />
      </div>
    </ion-slide>
  </ion-slides>
  <ng-container *ngIf="currentIndex == 3;else btnStep">
    <ion-col size="12">
      <button style="padding: 0 20px" (click)="save()" [disabled]="storeForm.invalid"
        class="ion-activatable ripple-parent custom-parent btn-primary">
        <ion-label class="text-sm">Soumettre </ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-col>
</ng-container>
<ng-template #btnStep>
  <ion-row class="btn-row mt">
    <ion-col *ngIf="currentIndex == 2" size="6">
      <button (click)="next()" style="padding: 0 20px"
        class="ion-activatable ripple-parent custom-parent">
        <ion-label class="text-sm">Ignorer</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-col>
    <ion-col [size]="currentIndex == 2 ? '6' : '12'">
      <button style="padding: 0 20px" (click)="next()"
        class="ion-activatable ripple-parent custom-parent btn-primary">
        <ion-label class="text-sm">Suivant </ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-col>
  </ion-row>
</ng-template>
</ion-content>
