<div class="card" *ngIf="article;else noArticleTemplate">
	<div style="width: 100%;height: 159px">
		<ion-img (click)="show()" *ngIf="article.images.length" style="margin: auto" [src]="article!.images[0].image ?? ''">
		</ion-img>
	</div>
	<div (click)="show()">
		<div class="ion-margin-horizontal">
			<p class="ion-no-margin margin-top" style="font-family: 'DM Sans Medium';font-size: 14px;margin-top: 10px;">
				{{ article.designation | truncate:30}}
			</p>
			<div class="d-flex ion-align-items-center ion-justify-content-start" style="gap: 5px">
				<label style="font-family: 'DM Sans Medium';font-size: 14px">Prix :</label>
				<span style="font-family: Serif" class="init">π</span>
				<span style="font-family: 'DM Sans Medium';" class="price">
					{{article.unitPrice}}
				</span>
			</div>
			<div class="d-flex ion-align-items-center ion-justify-content-start " style="gap: 5px;margin-top: 5px;">
				<ion-icon slot="start" name="location-outline"></ion-icon>
				<span>
					{{article.store!.city}}
				</span>
			</div>
		</div>
	</div>
	<div style="display:flex;padding: 10px;" class="ion-justify-content-between ion-align-items-center">
		<div class="d-flex ion-align-items-center" style="gap: 5px;">
			<ion-icon style="margin-bottom: 4px" color="warning" name="star"></ion-icon>
			<span style="font-size: 12px">
				{{article!.rate}}
			</span>
		</div>
		<div style="font-size: 12px">
			{{article!.rate}} Reviews
		</div>
		<ion-button *ngIf="!checkedArticleAddedToCart(); else templateCart" (click)="addPanier(article!.id)" fill="clear">
			<ion-icon slot="icon-only" name="cart-outline"></ion-icon>
		</ion-button>
		<ng-template #templateCart>
			<ion-button disabled fill="clear">
				<ion-icon slot="icon-only" name="bag-check" color="primary"></ion-icon>
			</ion-button>
		</ng-template>
	</div>
</div>
<ng-template #noArticleTemplate>
	<div class="card">
		<div style="width: 100%;height: 159px">
			<ion-skeleton-text [animated]="true" style="width: 100%;height: 159px"></ion-skeleton-text>
		</div>
		<br>
		<div>
			<div class="ion-margin-horizontal">
				<p class="ion-no-margin" style="font-family: 'DM Sans Medium';">
					<ion-skeleton-text [animated]="true" style="width: 80%;height: 15px;"></ion-skeleton-text>
				</p>
				<div class="d-flex ion-align-items-center ion-justify-content-start" style="gap: 5px">
					<ion-skeleton-text [animated]="true" style="width: 20%;height: 15px;"></ion-skeleton-text>
					<ion-skeleton-text [animated]="true" style="width: 30%;height: 15px;"></ion-skeleton-text>
				</div>
				<div class="d-flex ion-align-items-center ion-justify-content-start "
					style="gap: 5px;margin-top: 5px;height: 15px;">
					<ion-skeleton-text [animated]="true" style="width: 50%;height: 15px;"></ion-skeleton-text>
				</div>
			</div>
		</div>
		<div style="display:flex;padding: 10px;" class="ion-justify-content-between ion-align-items-center">
			<ion-skeleton-text [animated]="true" style="width: 10%;height: 15px;"></ion-skeleton-text>
			<ion-skeleton-text [animated]="true" style="width: 30%;height: 15px;"></ion-skeleton-text>
			<ion-skeleton-text [animated]="true" style="width: 20%;height: 20px"></ion-skeleton-text>
		</div>
	</div>
</ng-template>