<div class="card" *ngIf="article;else noArticleTemplate">
	<div class="image-container">
		<ion-img (click)="show()" *ngIf="article.images.length" [src]="article!.images[0].image ?? ''">
		</ion-img>
	</div>
	<div (click)="show()">
		<div class="ion-margin-horizontal">
			<p class="ion-no-margin product-title text-small text-dark">
				{{ article.designation | truncate:20}}
			</p>
			<div class="d-flex ion-align-items-center ion-justify-content-start price-container text-small">
				<label class="price-label">Prix :</label>
				<span class="price-value">
					{{article.unitPrice}} π
				</span>
			</div>
			<div class="d-flex ion-align-items-center ion-justify-content-start location-container">
				<span class="text-small">
					{{article.store.city}}
				</span>
			</div>
		</div>
	</div>
	<div class="rating-container ion-justify-content-between ion-align-items-center">

		<button class="ion-activatable ripple-parent custom-parent btn-primary" *ngIf="!checkedArticleAddedToCart(); else templateCart" (click)="addPanier(article!.id)" fill="clear">
			<span class="text-small">
				Ajouter au panier
			</span>
		</button>
		<ng-template #templateCart>
			<button disabled class="ion-activatable ripple-parent custom-parent btn-disabled" fill="clear">
          <ion-icon slot="icon-only" name="bag-check" color="light"></ion-icon>
      </button>
		</ng-template>
	</div>
</div>
<ng-template #noArticleTemplate>
	<div class="card">
		<div class="image-container">
			<ion-skeleton-text [animated]="true" class="skeleton-image"></ion-skeleton-text>
		</div>
		<br>
		<div>
			<div class="ion-margin-horizontal">
				<p class="ion-no-margin product-title">
					<ion-skeleton-text [animated]="true" class="skeleton-title"></ion-skeleton-text>
				</p>
				<div class="d-flex ion-align-items-center ion-justify-content-start price-container">
					<ion-skeleton-text [animated]="true" class="skeleton-price"></ion-skeleton-text>
					<ion-skeleton-text [animated]="true" class="skeleton-price-value"></ion-skeleton-text>
				</div>
				<div class="d-flex ion-align-items-center ion-justify-content-start location-container">
					<ion-skeleton-text [animated]="true" class="skeleton-location"></ion-skeleton-text>
				</div>
			</div>
		</div>
		<div class="rating-container ion-justify-content-between ion-align-items-center">
			<ion-skeleton-text [animated]="true" class="skeleton-rating"></ion-skeleton-text>
			<ion-skeleton-text [animated]="true" class="skeleton-reviews"></ion-skeleton-text>
			<ion-skeleton-text [animated]="true" class="skeleton-cart"></ion-skeleton-text>
		</div>
	</div>
</ng-template>
