h3 {
  font-size: 20px;
  margin: 0;
  text-align: start;
}
.ion-margin-start {
  margin-left: 41px;
}
ion-header {
  background: var(--influly-bg-color);
}
.container-country .country-name {
  background: transparent;
}
