<ion-header [translucent]="true" class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-icon class="ion-padding-start" size="large" slot="start" (click)="close()" name="chevron-back-outline">
    </ion-icon>
    <ion-title class="ion-text-center" style="font-weight: 900">Réseaux sociaux</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content class="ion-padding-horizontal">
  <ion-col class="parent-container">
    <div class="child-container min-h-screen m-t-20">
      <form>
        <div *ngFor="let s of social; let i = index" (click)="selectSocial(s)" class="container-country">
          <div class="country-icon" [ngClass]="{ 'border-selected': checkName(s) }">
            <ion-img slot="start" [src]="s.icon" alt=""></ion-img>
          </div>
          <ion-item class="country-name" [ngClass]="{ 'border-selected': checkName(s) }">
            <ion-input type="text" [placeholder]="s.name" [value]="s.value" (ionChange)="onChangeValue($event, i)">
            </ion-input>
          </ion-item>
        </div>
      </form>
      <ion-row class="btn-row mt">
        <ion-col size="12">
          <button (click)="validateSocial()" class="ion-activatable ripple-parent custom-parent btn-primary">
            <ion-label>Enregister</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-col>
</ion-content>