<ion-content class="ion-padding">

  <div class="d-flex ion-align-items-start mt-70">
    <div class="card" style="width: 100%">
      <div class="d-flex ion-justify-content-between">
        <h5 class=" ion-no-marginion-margin-bottom">Liste des nouvelles</h5>
        <button (click)="add()" class="ion-activatable ripple-parent custom-parent btn-primary">
          <div style="display: flex; gap: 10px" class="ion-align-items-center">
            <span class="custom-child">Ajouter</span>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
      <p-table #dt1 [value]="_news">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="p-d-flex p-jc-between  text-upper p-ai-center ">
                Titre
              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between  text-upper p-ai-center ">
                Sous titre
              </div>
            </th>
            <th style="width: 8rem">
              <div class="p-d-flex p-jc-between  text-upper p-ai-center p-ai-center">
                Actions
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-_new>
          <tr>
            <td>
              {{_new.title}}
            </td>
            <td>
              {{_new.subtitle ?? 'N/A'}}
            </td>
            <td>
              <div class="d-flex ion-justify-content-around" style="width:100px">
                <ion-icon name="create-outline" style="cursor:pointer" (click)="edit(_new)"></ion-icon>
                <ion-icon name="trash-outline" style="cursor:pointer" (click)="confirmDelete(_new)"></ion-icon>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">Aucune donnée.</td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>
    </div>

  </div>
</ion-content>
