<ion-content class="ion-padding">

  <div class="d-flex ion-align-items-start">
    <div class="card" style="width: 100%">
      <div class="d-flex ion-justify-content-between">
        <h5 class=" ion-no-marginion-margin-bottom">Nouveau publié</h5>
        <ion-button (click)="add()" color="primary" fill="outline">Ajouter</ion-button>
      </div>
      <p-table #dt1 [value]="_news">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div class="p-d-flex p-jc-between ">
                Titre
              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between ">
                Sous titre
              </div>
            </th>
            <th style="width: 8rem">
              <div class="p-d-flex p-jc-between p-ai-center">
                Actions
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-_new>
          <tr>
            <td>
              {{_new.title}}
            </td>
            <td>
              {{_new.subtitle ?? 'N/A'}}
            </td>
            <td>
              <div class="d-flex ion-justify-content-around" style="width:100px">
                <ion-icon name="create-outline" style="cursor:pointer" (click)="edit(_new)"></ion-icon>
                <ion-icon name="trash-outline" style="cursor:pointer" (click)="confirmDelete(_new)"></ion-icon>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">Aucune donnée.</td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>
    </div>

  </div>
</ion-content>