<ion-split-pane when="xs" contentId="main">
	<ion-menu contentId="main">
		<ion-header class="ion-no-border">
			<ion-toolbar>
				<ion-title id="title">Pi-varotra Admin</ion-title>
			</ion-toolbar>
		</ion-header>
		<ion-content class=" sidebar ion-padding">
			<ion-list>
				<ion-item ion-button [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active">
					<ion-icon size="small" slot="start" color="light" name="cellular"></ion-icon>
					<ion-label>Tableau de bord</ion-label>
				</ion-item>
				<ion-item ion-button [routerLink]="['/admin/users']" routerLinkActive="router-link-active">
					<ion-icon size="small" slot="start" color="light" name="people"></ion-icon>
					<ion-label>Client</ion-label>
				</ion-item>
				<ion-item ion-button>
					<ion-icon size="small" slot="start" color="light" name="storefront"></ion-icon>
					<ion-label>Magasin</ion-label>
				</ion-item>
				<ion-item ion-button>
					<ion-icon size="small" slot="start" color="light" name="shield-checkmark"></ion-icon>
					<ion-label>Gestion nouveau</ion-label>
				</ion-item>
				<ion-item ion-button>
					<ion-icon size="small" slot="start" color="light" name="color-palette"></ion-icon>
					<ion-label>Gestion article</ion-label>
				</ion-item>
				<ion-item ion-button>
					<ion-icon size="small" slot="start" color="light" name="megaphone"></ion-icon>
					<ion-label>Gestion publicité</ion-label>
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-menu>

	<div class="ion-page" id="main">
		<ion-header class="ion-no-border">
			<ion-toolbar class="content-toolbar">
				<ion-buttons slot="secondary">
					<ion-button>
						<ion-icon slot="start" color="light" name="person-circle-outline"></ion-icon>
						<label style="    text-transform: capitalize;
						color: white;">Alfinace</label>
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>
		<ion-content class="ion-padding">
			<ion-router-outlet></ion-router-outlet>
		</ion-content>
	</div>
</ion-split-pane>