<ion-split-pane when="xs" contentId="main">
	<ion-menu contentId="main" [ngClass]="{'show':showMenu,'hide':!showMenu}">
		<ion-header class="ion-no-border">
			<ion-toolbar>
				<ion-title id="title">Pi-varotra Admin</ion-title>
			</ion-toolbar>
		</ion-header>
		<ion-content class=" sidebar ion-padding">
			<ion-list>
				<ion-item ion-button (click)="navigateTo('/admin/dashboard')" routerLinkActive="router-link-active">
					<ion-icon size="small" slot="start" color="light" name="cellular"></ion-icon>
					<ion-label>Tableau de bord</ion-label>
				</ion-item>
				<ion-item ion-button (click)="navigateTo('/admin/users')" routerLinkActive="router-link-active">
					<ion-icon size="small" slot="start" color="light" name="people"></ion-icon>
					<ion-label>Utilisateur</ion-label>
				</ion-item>
				<ion-item ion-button (click)="navigateTo('/admin/stores')" routerLinkActive="router-link-active">
					<ion-icon size="small" slot="start" color="light" name="storefront"></ion-icon>
					<ion-label>Magasin</ion-label>
				</ion-item>
				<ion-item ion-button (click)="navigateTo('/admin/news')" routerLinkActive="router-link-active">
					<ion-icon size="small" slot="start" color="light" name="shield-checkmark"></ion-icon>
					<ion-label>Gestion nouveau</ion-label>
				</ion-item>
				<ion-item ion-button (click)="navigateTo('/admin/list-article')" routerLinkActive="router-link-active">
					<ion-icon size="small" slot="start" color="light" name="ticket"></ion-icon>
					<ion-label>Gestion article</ion-label>
				</ion-item>
				<ion-item ion-button (click)="navigateTo('/admin/categories')" routerLinkActive="router-link-active">
					<ion-icon size="small" slot="start" color="light" name="color-palette"></ion-icon>
					<ion-label>Gestion categorie</ion-label>
				</ion-item>
				<ion-item ion-button (click)="navigateTo('/admin/list-pub')" routerLinkActive="router-link-active">
					<ion-icon size="small" slot="start" color="light" name="megaphone"></ion-icon>
					<ion-label>Gestion publicité</ion-label>
				</ion-item>

				<ion-item ion-button (click)="navigateTo('/admin/admin-map')" routerLinkActive="router-link-active">
					<ion-icon size="small" slot="start" color="light" name="map-outline"></ion-icon>
					<ion-label>Carte</ion-label>
				</ion-item>
				<ion-item ion-button (click)="navigateTo('/client')">
					<ion-icon size="small" slot="start" color="light" name="return-up-back-outline"></ion-icon>
					<ion-label>Retour sur le site</ion-label>
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-menu>

	<div class="ion-page" id="main">
		<ion-header class="ion-no-border">
			<ion-toolbar class="content-toolbar">
				<ion-buttons slot="start" class="menu-icon">
					<ion-button (click)="toggleMenu()">
						<ion-icon slot="start" color="light" size="large" name="menu"></ion-icon>
					</ion-button>
				</ion-buttons>
				<ion-buttons slot="secondary">
					<ion-button>
						<ion-icon slot="start" color="light" name="person-circle-outline"></ion-icon>
						<label style="    text-transform: capitalize;
						color: white;">Alfinace</label>
					</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>
		<ion-content class="ion-padding">
			<ion-router-outlet></ion-router-outlet>
		</ion-content>
	</div>
</ion-split-pane>