.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  border-right: 1px solid #625df580;
}
d-flex {
  display: flex;
}

#title {
  color: var(--ion-color-secondary) !important;
  background-color: transparent !important;
  font-size: 18px;
  font-weight: bolder;
}

ion-label {
  font-size: 10px;
}
ion-split-pane {
  --side-width: 100px;
  --side-max-width: 100px;
  --border: none;
}

.sidebar::part(background),
ion-list {
  background-color: transparent;
}
.sidebar::part(background) {
  --background: linear-gradient(
    171deg,
    var(--ion-color-primary) 0%,
    var(--ion-color-secondary) 386%
  );
}
ion-label,
ion-item {
  color: white;
  cursor: pointer;
}

ion-toolbar {
  --background: var(--ion-color-primary) 100%;
}
.content-toolbar {
  --background: linear-gradient(
    90deg,
    var(--ion-color-primary) 0%,
    var(--ion-color-secondary) 200%
  );
}
