
.text-center {
  font-size: 12px;
  text-align: center;
}
ion-content {
  padding-top: 55px !important;
}

ion-searchbar {
  --border-radius: 18px;
  --box-shadow: none;
}

.swiper {
  width: 100%;
}

ion-img {
  width: auto;
  height: auto;
}
.b-cat {
  min-width: 98px;
  font-size: 12px;
  padding: 10px;
  border-radius: 30px;
  color: white;
  background-color: var(--ion-color-primary);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  .box {
    background: #e4f3ea;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bg-white-around {
  background: #fafafa;
  border-radius: 10px 10px 0px 0px;
}

.bordered {
  border-bottom: 1px solid #beb9b985;
}

.img-round {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}
h4 {
  font-size: 16px;
}
.d-flex {
  display: flex;
}

.banner {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

    h2 {
      margin: 0;
      font-size: 22px;
      font-weight: bold;
    }

    p {
      margin: 5px 0 10px;
      font-size: 14px;
    }
  }
}

ion-slides {
  padding: 16px;
}
