<ion-content>
  <ion-refresher style="top: 58px" slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60"
    pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container
    *ngIf="loadedCategorie &&  loadedPub && loadedArticle && loadedNew && loadedStore;else skeletonTemplate">
    <div class="ion-padding-horizontal mt-70">

      <swiper #swiperComponent [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
        <ng-template *ngFor="let item of pubs" swiperSlide>
          <app-pub-card [pub]="item"></app-pub-card>
        </ng-template>
      </swiper>
      <ion-slides pager="true" [options]="{ slidesPerView: 1, autoplay: true, spaceBetween: 10, pagination: false }">
        <ion-slide>
          <div class="banner">
            <img src="assets/images/img5.jpg" alt="Special Offer" loading="lazy">
            <div class="banner-content">
              <h2 class="ion-text-start text-light">
                Offre spéciale
              </h2>
              <p>
                Profitez de nos offres exclusives
              </p>
              <!-- <button  class="ion-activatable ripple-parent custom-parent btn-primary">
                <div style="display: flex; gap: 10px" class="ion-align-items-center">
                  <span class="custom-child">
                    Acheter dés maintenant
                  </span>
                </div>
                <ion-ripple-effect></ion-ripple-effect>
              </button> -->
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="banner">
            <img src="assets/images/img2.jpg" alt="New Collection" loading="lazy">
            <div class="banner-content">
              <h2 class="ion-text-start text-light">
                Nouveau Collection
              </h2>
              <p>
                Explorez notre nouvelle collection
              </p>
              <!-- <button  class="ion-activatable ripple-parent custom-parent btn-primary">
                <div style="display: flex; gap: 10px" class="ion-align-items-center">
                  <span class="custom-child">Explorer</span>
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
                <ion-ripple-effect></ion-ripple-effect>
              </button> -->
            </div>
          </div>
        </ion-slide>
      </ion-slides>
      <br>
      <div class=" d-flex ion-justify-content-between ion-align-items-center">
        <h3 class="text-medium">Catgories</h3>
      </div>
      <br>
      <swiper [config]="catConfig">
        <ng-template *ngFor="let item of categories" swiperSlide>
          <div class="b-cat" (click)="goToArticles(item.id)">
            <div class="text-center">
              {{item.name}}
            </div>
          </div>
        </ng-template>
      </swiper>
      <br>
    </div>
    <div class=" bg-white-around ion-padding-horizontal">
      <div class=" d-flex ion-justify-content-between  ion-align-items-center">
        <h3 class="text-medium">Magasins</h3>
        <a href="#" [routerLink]="['/store']" routerLinkActive="router-link-active">Voir plus</a>
      </div>
      <br>
      <swiper [config]="configP">
        <ng-template *ngFor="let item of stores" swiperSlide>
          <app-store-card [store]="item"></app-store-card>
        </ng-template>
      </swiper>
      <br>

      <div class=" d-flex ion-justify-content-between  ion-align-items-center">
        <h3 class="text-medium">Nouveau produit</h3>
        <a [routerLink]="['/search']">Voir plus</a>
      </div>
      <br>
      <!-- <swiper [config]="configP"> -->
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6" *ngFor="let item of articles"  data-aos="fade-up">
            <app-article class="ion-no-margin border-1" [article]="item"></app-article>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>
      <div class=" d-flex ion-justify-content-between  ion-align-items-center">
        <h3 class="text-medium">Articles plus vendus</h3>
      </div>
      <br>
      <swiper [config]="configP">
        <ng-template *ngFor="let item of articles" swiperSlide>
          <app-article [article]="item"></app-article>
        </ng-template>
      </swiper>
      <br>
      <br>
    </div>
    <div class="ion-padding-horizontal d-flex flex-col" *ngIf="_news.length > 0">
      <div class=" d-flex ion-justify-content-between ion-align-items-center">
        <h3 class="text-medium">Actualités</h3>
      </div>
      <app-new-card [_new]="_new" *ngFor="let _new of _news"></app-new-card>
      <ion-row class="btn-row mt">
        <ion-col size="12">
          <button [routerLink]="['/new']" class="ion-activatable ripple-parent custom-parent btn-primary">
            <ion-label>Voir plus</ion-label>
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ng-container>
  <ng-template #skeletonTemplate>
    <div class="ion-padding-horizontal mt-70">
      <swiper #swiperComponent [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
        <ng-template *ngFor="let item of [1]" swiperSlide>
          <ion-skeleton-text [animated]="true" style="width: 100%;height: 157px"></ion-skeleton-text>
        </ng-template>
      </swiper>
      <br>
      <div class=" d-flex ion-justify-content-between ion-align-items-center">
        <ion-skeleton-text [animated]="true" style="width: 100px;height: 20px;"></ion-skeleton-text>
      </div>
      <br>
      <swiper [config]="catConfig">
        <ng-template *ngFor="let item of [1,1,1,1] " swiperSlide>
          <ion-skeleton-text [animated]="true" style="width: 100px;height: 50px; border-radius: 50px;">
          </ion-skeleton-text>
        </ng-template>
      </swiper>
      <br>
    </div>
    <div class=" bg-white-around ion-padding-horizontal">
      <div class=" d-flex ion-justify-content-between  ion-align-items-center">
        <ion-skeleton-text [animated]="true" style="width: 90px;height: 20px;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 50px;height: 20px;"></ion-skeleton-text>
      </div>
      <br>
      <swiper [config]="configP">
        <swiper [config]="configP">
          <ng-template *ngFor="let item of [1,1]" swiperSlide>
            <app-article></app-article>
          </ng-template>
        </swiper>
      </swiper>
      <br>
      <swiper [config]="configP">
        <ng-template *ngFor="let item of [1,1]" swiperSlide>
          <app-article></app-article>
        </ng-template>
      </swiper>
      <br>
      <div class=" d-flex ion-justify-content-between  ion-align-items-center">
        <ion-skeleton-text [animated]="true" style="width: 90px;height: 20px;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 50px;height: 20px;"></ion-skeleton-text>
      </div>
      <br>
      <swiper [config]="configP">
        <ng-template *ngFor="let item of [1,1]" swiperSlide>
          <app-article></app-article>
        </ng-template>
      </swiper>
      <br>
      <br>
    </div>
    <div class="ion-margin-vertical ion-padding-start">
      <ion-skeleton-text [animated]="true" style="width: 100px;height: 20px;"></ion-skeleton-text>
    </div>
    <div class="ion-padding-horizontal d-flex flex-col">
      <div class="d-flex ion-justify-content-between ion-align-items-center" *ngFor="let item of [1,1,1]">
        <div class="d-flex flex-col" style="width: 70%;gap: 10px;">
          <ion-skeleton-text [animated]="true" style="width: 30%;height: 20px;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width:100%;height: 15px;"></ion-skeleton-text>
        </div>
        <ion-skeleton-text [animated]="true" style="width: 70px;height: 70px;"></ion-skeleton-text>
      </div>
      <br>
      <ion-skeleton-text [animated]="true" style="width: 100%;height: 50px;"></ion-skeleton-text>
      <br>
      <br>
    </div>
  </ng-template>
</ion-content>
