<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ng-container *ngIf="loaded;else notLoaded"> -->
  <div class="ion-padding-horizontal mt-70">
    <ion-searchbar color="light" class="ion-no-border ion-no-padding" show-clear-button="always"></ion-searchbar>
    <br>
    <!-- <ng-container *ngIf="loadedPub && pub.length > 0 "> -->
    <swiper #swiperComponent [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
      <ng-template *ngFor="let item of articles" swiperSlide>
        <app-pub-card></app-pub-card>
      </ng-template>
    </swiper>
    <!-- </ng-container> -->
    <br>
    <ng-container *ngIf="loadedCategorie && categories.length > 0">
      <div class=" d-flex ion-justify-content-between ion-align-items-center">
        <h3>Catgories</h3>
      </div>
      <br>
      <swiper [config]="catConfig">
        <ng-template *ngFor="let item of categories" swiperSlide>
          <div class="b-cat">
            <!-- <div class="box">
              <ion-img [src]="'./assets/images/cat2.png'"></ion-img>
            </div> -->
            <div class="text-center">
              {{item.name}}
            </div>
          </div>
        </ng-template>
      </swiper>
    </ng-container>
    <br>
  </div>
  <div class=" bg-white-around ion-padding-horizontal">
    <div class=" d-flex ion-justify-content-between  ion-align-items-center">
      <h3>Meilleur magasin</h3>
      <a href="http://">Voir plus</a>
    </div>
    <br>
    <swiper [config]="configP">
      <ng-template *ngFor="let item of stores" swiperSlide>
        <app-store-card [store]="item"></app-store-card>
      </ng-template>
    </swiper>
    <br>

    <div class=" d-flex ion-justify-content-between  ion-align-items-center">
      <h3>Nouveau produit</h3>
      <a href="http://">Voir plus</a>
    </div>
    <br>
    <swiper [config]="configP">
      <ng-template *ngFor="let item of articles" swiperSlide>
        <app-article [article]="item"></app-article>
      </ng-template>
    </swiper>
    <br>
    <!-- <div class=" d-flex ion-justify-content-between  ion-align-items-center">
        <h3>Top Rated</h3>
        <a href="http://">Voir plus</a>
      </div> -->
    <br>
    <swiper [config]="configP">
      <ng-template *ngFor="let item of articles" swiperSlide>
        <app-article [article]="item"></app-article>
      </ng-template>
    </swiper>
    <br>
    <div class=" d-flex ion-justify-content-between  ion-align-items-center">
      <h3>Produit special</h3>
      <a href="http://">Voir plus</a>
    </div>
    <br>
    <swiper [config]="configP">
      <ng-template *ngFor="let item of articles" swiperSlide>
        <app-article [article]="item"></app-article>
      </ng-template>
    </swiper>
    <br>
    <br>
  </div>
  <div class="ion-padding-horizontal d-flex flex-col">
    <div class=" d-flex ion-justify-content-between ion-align-items-center">
      <h3>Derniére nouveau</h3>
    </div>
    <app-new-card [_new]="_new" *ngFor="let _new of _news"></app-new-card>
    <ion-row class="btn-row mt">
      <ion-col size="12">
        <button [routerLink]="['/client/new']" class="ion-activatable ripple-parent custom-parent btn-primary">
          <ion-label>Voir plus</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>