<ion-content>
  <div class="ion-padding-horizontal " *ngIf="store">
    <ion-avatar slot="start">
      <img [src]="store.logo" />
    </ion-avatar>
    <br>
    <br>
    <h1 class="ion-margin-bottom text-center ion-margin-bottom" color="primary">
       Bienvenue chez {{store.name}}
    </h1>
    <br>
    <div style="display: flex; gap: 10px;" class="ion-justify-content-center ion-align-items-center ion-wrap">
      <app-article [article]="item" *ngFor="let item of articles"></app-article>
    </div>
    <br><br><br>
  </div>
</ion-content>
