.btn-save {
  padding: 5px;
  gap: 10px;
  font-size: 12px;
  border: 1px solid #625df5;
  border-radius: 10px;
}
ion-item::part(native) {
  .item-inner {
    padding-right: 0;
  }
}

input[type='date'] {
  width: 107px;
  padding: 3px;
  border: none;
  outline: none;
}
.img-empty {
  height: 250px;
  border: 3px dashed gainsboro;
  border-radius: 5px;
  background: #dadadb21;
}
ion-content ion-img {
  width: 100%;
  margin: auto;
  min-height: 250px;
  object-fit: cover;
}

.btn-icon {
  background: transparent;
}
