<ion-header [translucent]="true" class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-icon class="ion-padding-start" size="large" slot="start" (click)="close()" name="chevron-back-outline">
    </ion-icon>
    <ion-title class="ion-text-center" style="font-weight: 900">Editer l'information du compte</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content class="ion-padding-horizontal">
  <div class="ion-justify-content-between d-flex ion-align-items-center">
    <ion-label>
      Information personnelle
    </ion-label>
    <div class="ion-justify-content-around d-flex ion-align-items-center  btn-save" (click)="toggle()">
      <ng-container *ngIf="profileForm.disabled;else save">
        <ion-icon slot="start" style="font-size:12px ;color: #1ddd66;" name="lock-closed-outline"></ion-icon>
        <ion-label>Editer</ion-label>
      </ng-container>
      <ng-template #save>
        <ion-icon slot="start" style="font-size:12px ;color: #1ddd66;" name="checkmark-outline"></ion-icon>
        <ion-label>Enregister</ion-label>
      </ng-template>
    </div>
  </div>
  <br>
  <form [formGroup]="profileForm">
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input required formControlName="lastname" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prénoms</ion-label>
      <ion-input required formControlName="firstname" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contact </ion-label>
      <ion-input required formControlName="contact" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Addresse exact</ion-label>
      <ion-input required formControlName="address" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Code postal</ion-label>
      <ion-input required formControlName="postalCode" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Clé public Pi network</ion-label>
      <ion-input required formControlName="address" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Genre</ion-label>
      <ion-select required formControlName="gender" placeholder="Selectionner le genre">
        <ion-select-option value="male">Homme</ion-select-option>
        <ion-select-option value="female">Femme</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
  <br>
  <br>
  <div class="ion-justify-content-between d-flex ion-align-items-center">
    <ion-label>
      Pièce d'identité
    </ion-label>
    <div class="ion-justify-content-around d-flex ion-align-items-center  btn-save">
      <ion-icon slot="start" style="font-size:12px ;color: #1ddd66;" name="checkmark-outline"></ion-icon>
      <ion-label>Enregister</ion-label>
    </div>
  </div>
  <br>
  <app-images [imgs]="imgs" #imageComponent (selectImageEvent)="getImageRecto($event)"></app-images>
  <ion-item lines="none">
    <label>Recto</label>
    <button slot="end" ion-button (click)="imageComponent.selectImageSource()">Téléverser</button>
  </ion-item>
  <ng-container *ngIf="recto;else noimage1">
    <ion-img [src]="recto"></ion-img>
  </ng-container>
  <ng-template #noimage1>
    <div class="d-flex ion-justify-content-center ion-align-items-center img-empty">
      <span style="color:gray;font-style:italic">Selectionner image recto CIN</span>
    </div>
  </ng-template>
  <app-images [imgs]="imgs" #imageComponent2 (selectImageEvent)="getImageVerso($event)"></app-images>
  <ion-item lines="none">
    <label>Verso</label>
    <button slot="end" ion-button (click)="imageComponent2.selectImageSource()">Téléverser</button>
  </ion-item>
  <ng-container *ngIf="verso;else noimage2">
    <ion-img [src]="verso"></ion-img>
  </ng-container>
  <ng-template #noimage2>
    <div class="d-flex ion-justify-content-center ion-align-items-center img-empty">
      <span style="color:gray;font-style:italic">Selectionner image verso CIN</span>
    </div>
  </ng-template>
</ion-content>