<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="close()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title slot="secondary">
      {{_new.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding-horizontal mt-70">
    <h5>{{_new.subtitle}}</h5>
    <img [src]="_new.image" onerror="this.onerror=null; this.src='./assets/images/shopping.png'" alt="" srcset="">
    <p>{{_new.updatedAt | date:'dd/mm/yyyy H:s'}}</p>
    <div [innerHTML]="_new.detail"></div>
  </div>
</ion-content>