<div class="b-bottom d-flex ion-justify-content-between ion-align-items-center" (click)="openNew()">
  <div style="width:70%">
    <h4 style="" class=" text-medium ion-no-margin ion-margin-bottom">
      {{_new.title}}
    </h4>
    <p style="color: gray">
      {{_new.subtitle | truncate:59}}
    </p>
    <p>
      {{_new.updatedAt | date:'dd/MM/yyyy H:s'}}
    </p>
  </div>
  <div class="img-round">
    <img [src]="_new.image" onerror="this.onerror=null; this.src='./assets/images/shopping.png'" alt="" srcset="">
  </div>
</div>