<ion-content class="ion-padding">
  <h5 class=" ion-no-marginion-margin-bottom">Liste d'utilisateur</h5>
  <div class="card">
    <p-table #dt1 [value]="customers">

      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="p-d-flex p-jc-between p-ai-left">
              Utilisateur
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-left">
              Magasin
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-left">
              Role
            </div>
          </th>
          <th style="width: 8rem">
            <div class="p-d-flex p-jc-between p-ai-left">
              Actions
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>
            {{customer.username}}
          </td>
          <td>
            {{customer.store.name || '-'}}
          </td>
          <td>
            {{customer.role}}
          </td>
          <td>
            <div class="d-flex ion-justify-content-around" style="gap: 20px">
              <i class="pi pi-eye" (click)="show(customer)"></i>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Aucune donnée.</td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>
  </div>

</ion-content>
