<ion-content class="ion-padding">
  <h5 class=" ion-no-marginion-margin-bottom">Liste d'utilisateur</h5>
  <div class="card">
    <p-table #dt1 [value]="customers">

      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="p-d-flex p-jc-between p-ai-left">
              Utilisateur
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-left">
              Magasin
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-left">
              Role
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>
            {{customer.username}}
          </td>
          <td>
            {{customer?.store?.name || 'N/R'}}
          </td>
          <td>
            <ion-chip color="success" size="small" *ngIf="customer.role == 'ADMIN'; else notAdmin">
              <ion-label class="text-sm">
                Administrateur
              </ion-label>
            </ion-chip>
            <ng-template #notAdmin>
              <ion-chip color="warning" size="small">
                <ion-label class="text-sm">
                  Utilisateur
                </ion-label>
              </ion-chip>
            </ng-template>
          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7" class="text-center">Aucune donnée.</td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>
  </div>

</ion-content>
