/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

@font-face {
  font-family: 'Geometria';
  src: url('./assets/fonts/geometria-cufonfonts/Geometria-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'DM sans';
  src: url('./assets/fonts/DM_Sans/DMSans-Regular.ttf');
}

@font-face {
  font-family: 'DM sans medium';
  src: url('./assets/fonts/DM_Sans/DMSans-Medium.ttf');
}
ion-app {
  max-width: 1000px;
  margin: auto;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
  text-align: center;

  height: 170px;
  width: 400px;

  margin: 0 auto;
}
.custom-ng-otp-input-wrapper {
  height: 70px !important;
  justify-content: center;
}
.custom-opt-input {
  width: 70px !important;
  font-size: 20px !important;
  height: 50px !important;
  border: none !important;
  border-radius: 10px !important;
  background: #ececef !important;
  &:focus-visible {
    outline: 1px solid var(--ion-color-primary) !important;
  }
}

b {
  width: 100%;
}

.ripple-parent {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  user-select: none;
  background: var(--ion-color-primary);
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.custom-parent {
  color: var(--ion-color-light);
  font-size: var(--ion-text-size-2x);
}

.btn-disabled {
  background: var(--ion-color-medium-tint);
}

.btn-primary {
  background: var(--ion-color-primary);
}

.btn-warning {
  background: var(--ion-color-warning);
}

.btn-danger {
  background: var(--ion-color-danger);
}

.btn-row {
  margin-top: 20px;
}

.text-primary {
  color: var(--ion-color-primary);
}

.text-secondary {
  color: var(--ion-color-secondary);
}

.small-size {
  font-size: var(--ion-text-size-2x);
}

.large-size {
  font-size: var(--ion-text-size-4x);
}
.normal-size {
  font-size: var(--ion-text-size-3x);
}
.w-full {
  width: 100%;
}
a {
  text-decoration: none;
}
ion-content {
  font-family: 'DM sans';
  ion-item,
  .checkbox {
    --background-hover: transparent;
    --background: transparent;
    --border-radius: 0;
    &::part(native) {
      padding-inline-start: 0;
      .item-inner {
        padding-inline-end: 0;
      }
    }
    ion-checkbox {
      margin: 10px;
      margin-left: 0;
    }
  }
  ion-item.checkbox {
    --background-hover: transparent;
    --background-focused: transparent;
    --background-focused-opacity: 0;
    --background-activated: transparent;
    --background-activated-opacity: 0;
  }
  h1,
  ion-title,
  h2,
  h3 {
    font-size: var(--ion-text-size-1x);
    font-family: 'DM sans medium';
    color: var(--ion-color-primary);
  }
  ion-row {
    margin: 10px 0;
    p {
      font-size: var(--ion-text-size-3x);
      color: var(--ion-color-medium-tint);
      font-family: 'DM sans medium';
      text-align: center;
    }
  }

  .d-flex {
    display: flex;
    justify-content: space-between;
  }

  ion-img {
    width: 20%;
    margin: auto;
    height: 20%;
  }
  ion-item {
    font-size: var(--ion-text-size-2x);
  }

  .b-login {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    width: 100%;
  }

  .mt {
    margin-top: 10px;
  }
  .gap-1x {
    display: flex;
    gap: 10px;
  }
}

button[disabled] {
  opacity: 0.5 !important;
}

.init {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  color: var(--ion-color-secondary);
}

.price {
  font-size: 15px;
  color: var(--ion-color-secondary);
}
.mt-70 {
  margin-top: 70px !important;
}

.text-black {
  font-size: 25px;
  color: #000;
}
.text-medium {
  font-family: 'DM Sans Medium';
}
.flex-col {
  flex-direction: column;
  gap: 20px;
}


.max-w-400 {
  max-width: 400px;
  margin: auto;
}
app-article {
  box-shadow: 0px 1px 3px #0000001a;
  display: block;
}

th,
td,
.p-datatable-customers
  .p-datatable-gridlines
  .p-paginator
  .p-paginator-pages
  .p-paginator-page {
  font-size: 12px;
}
.text-upper {
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.5rem;
  // text-align: center;
  white-space: nowrap;
}
.p-datatable .p-datatable-thead > tr > th {
  background-color: white;
  color: gray;
  border: none;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 14px;
}

.text-large {
  font-size: 16px;
}

// text color
.text-primary {
  color: var(--ion-color-primary);
}

.text-secondary {
  color: var(--ion-color-secondary);
}

.text-warning {
  color: var(--ion-color-warning);
}

.text-danger {
  color: var(--ion-color-danger);
}

.text-success {
  color: var(--ion-color-success);
}

.text-light {
  color: var(--ion-color-light);
}

.text-dark {
  color: var(--ion-color-dark);
}

.price-value {
  font-size: 14px;
  color: green
}
