.map-frame {
  border: 1px solid rgb(233, 233, 233);
  height: 100%;
}

#map, #map_2 {
  width: 100%;
  height: calc(100% - 0px) !important;
  border: 1px solid #b8b8b8;
}

.legend{
  background: white !important;
  padding: 10px;
  line-height: 24px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 20px;
  width: 200px;
}
