@media screen and (min-width: 0px) {
  .table-container {
    width: 100%;
  }
  .t-flex {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    flex-direction: column;
    box-shadow: 0px 20px 20px 2px #140dda2e;
    border-radius: 8px;
    font-size: 10px;
    gap: 5px;
    width: 28%;
    padding: 10px 15px;
  }
  th,
  td {
    font-size: var(--ion-text-size-2x);
  }
  .primary {
    font-size: var(--ion-text-size-4x);
    font-weight: 600;
    font-family: 'DM sans medium';
    background: -webkit-linear-gradient(
      top left,
      var(--ion-color-primary),
      var(--ion-color-secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-warning {
    color: var(--ion-color-warning);
  }

  .text-primary {
    color: var(--ion-color-primary);
  }
  ion-card {
    box-shadow: -1px 15px 10px 0px #dbdaf9;
  }
  ion-label {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
}
