<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" routerLinkActive="router-link-active">
        <ion-icon slot="start" name="chevron-back-outline" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <h3 class="ion-text-center">Paiement</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p-steps [model]="items" [styleClass]="'stepper'" [activeIndex]="stepper"></p-steps>
  <ion-slides mode="md" pager="false" #slider [options]="slideOpts">
    <ion-slide>
      <div class="d-flex-col">
        <div >
          <ion-item class="item-cart" *ngFor="let item of paniers">
            <div class=" d-flex ion-justify-content-between ion-margin-vertical" style="width: 100%">
              <div class="d-flex ion-justify-content-start" style="gap: 10px">
                <div class="image-preview">
                  <img [src]="item?.images[0]?.image" />
                </div>
                <div class="cart-image">
                  <h6> {{item.designation}} </h6>
                  <span class="price-value"> {{item.unitPrice}}π x {{item.quantity}} =  {{item.unitPrice *item.quantity}}π</span>
                </div>
              </div>
              <div
                style="display: flex;flex-direction: row; align-items: center;justify-content: space-around;gap: 30px;">
                <span style="font-size:20px;min-width: 50px;text-align: center;">
                  {{item.quantity}}
                </span>
              </div>
            </div>
          </ion-item>
        </div>
        <br>
        <h5 >Montant total à payer:</h5>
        <span class="price-value"> {{totalAmount}} π </span>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="d-flex-col">
        <br>
        <h6>
          Veuillez renseigner votre information de livraison en remplissant la formulaire ci-desssous.
        </h6>
        <form [formGroup]="paymentForm">
          <ion-item>
            <ion-label position="floating" class="text-sm">Nom complet</ion-label>
            <ion-input required formControlName="fullname" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" class="text-sm">Address de livraison</ion-label>
            <ion-input required formControlName="address" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" class="text-sm">Contact</ion-label>
            <ion-input required formControlName="contact" type="text" maxlength="13"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" class="text-sm">Ville</ion-label>
            <ion-input required formControlName="city" type="text"></ion-input>
          </ion-item>
        </form>
        <br>
        <span (click)="next()" class="ion-margin-vertical text-sm text-primary">
          Non, je vais le récuperer moi-même
        </span>
      </div>
    </ion-slide>
    <ion-slide>
      <div style="width: 100%">
        <div class="d-flex-col" *ngIf="user">
          <h6>Merci de verifier les informations renseignée avant proceder au paiement</h6>
          <ion-list *ngIf="f.panier[0]">
            <ion-item-group>
              <ion-item-divider>
                <ion-label>
                  Magasin
                </ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-icon color="primary" slot="start" size="small" name="business"></ion-icon>
                <ion-label>Magasin</ion-label>
                <ion-text slot="end" color="primary">
                  <h6 *ngIf="f.panier">
                    {{f.panier[0]?.store?.name}}
                  </h6>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon color="primary" slot="start" size="small" name="mail"></ion-icon>
                <ion-label>Siége:</ion-label>
                <ion-text slot="end" color="primary" >
                  <h6> {{f.panier[0].store?.address}} à {{f.panier[0].store?.city}}</h6>
                </ion-text>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider>
                <ion-label>
                  Votre information
                </ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-icon color="primary" slot="start" size="small" name="person"></ion-icon>
                <ion-label>Client</ion-label>
                <ion-text slot="end" color="primary">
                  <h6 *ngIf="f.fullname.length;else name">
                    {{f.fullname}}
                  </h6>
                  <ng-template #name>
                    {{user.username}}
                  </ng-template>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon color="primary" slot="start" size="small" name="mail"></ion-icon>
                <ion-label>Adresse de livraison:</ion-label>
                <ion-text slot="end" color="primary">
                  <h6>{{f.address !== '' ? f.address : 'N/A'}}</h6>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon color="primary" slot="start" size="small" name="location"></ion-icon>
                <ion-label>Ville:</ion-label>
                <ion-text slot="end" color="primary">
                  <h6>{{f.city !== '' ? f.city : user.city}}</h6>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon color="primary" slot="start" size="small" name="call-outline"></ion-icon>
                <ion-label>Contact:</ion-label>
                <ion-text slot="end" color="primary">
                  <h6>{{f.contact}}</h6>
                </ion-text>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider>
                <ion-label>
                  Paiement
                </ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-icon color="primary" slot="start" size="small" name="bag-check"></ion-icon>
                <ion-label>Articles achétés:</ion-label>
                <ion-text slot="end" color="primary">
                  <span *ngFor="let item of paniers">
                    {{item.designation}},
                  </span>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon color="primary" slot="start" size="small" name="cash"></ion-icon>
                <ion-label>Montant total à payer:</ion-label>
                <ion-text slot="end" color="primary">
                  <span class="price-value">  {{totalAmount}} π </span>
                </ion-text>
              </ion-item>
            </ion-item-group>
          </ion-list>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-row class="btn-row mt">
    <ion-col size="6">
      <button (click)="prev()" [disabled]="stepper === 0" class="ion-activatable ripple-parent custom-parent btn-danger">
        <div style="display: flex; gap: 10px" class="ion-align-items-center">
          <ion-icon name="arrow-back-outline"></ion-icon>
          <span class="custom-child">Précedant</span>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </ion-col>
    <ion-col size="6">
      <button (click)="next()" [disabled]="paymentForm.invalid && stepper === 1" class="ion-activatable ripple-parent custom-parent btn-primary" *ngIf="stepper < 2;else finalStep">
        <div style="display: flex; gap: 10px" class="ion-align-items-center">
          <span class="custom-child">Suivant</span>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
      <ng-template #finalStep>
        <button (click)="onStartProcessPayment()" [disabled]="statusPayment > 0"
          class="ion-activatable ripple-parent custom-parent btn-primary">
          <div style="display: flex; gap: 10px" class="ion-align-items-center">
            <div [ngSwitch]="statusPayment">
              <div *ngSwitchCase="0">
                <span class="custom-child">Payer maintenant</span>
              </div>
              <div *ngSwitchCase="1" style="display: flex; gap:10px; align-items: center;">
                <span class="custom-child">Enregistrement du commande </span>
                <ion-spinner color="light" name="circular"></ion-spinner>
              </div>
              <div *ngSwitchCase="2" style="display: flex; gap:10px;align-items: center;">
                <span class="custom-child">Transaction en cours</span>
                <ion-spinner color="light" name="circular"></ion-spinner>
              </div>
              <div *ngSwitchDefault>
                <span class="custom-child">OK</span>
              </div>
            </div>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-content>
