:host ::ng-deep .stepper {
  .p-steps-title {
    font-size: 10px;
  }
  .p-steps-current {
    .p-steps-title {
      color: var(--ion-color-primary) !important;
    }
    .p-steps-number {
      background-color: var(--ion-color-primary) !important;
      color: #fff;
      font-size: 12px !important;
    }
  }
  .p-menuitem-link {
    margin-top: -5px;
  }
}

.p-steps-number {
  font-size: 12px !important
}

ion-slides {
  height: calc(100% - 120px);
  overflow-y: auto;
}

.cart-empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h5 {
  margin: 0;
}
p {
  margin-bottom: 0;
}

.image-preview {
  width: 50px;
  overflow: hidden;
  height: 50px;
  border-radius: 5px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
ion-button {
  height: 50px;
}

ion-item {
  background-color: white;
}
.item-cart {
  box-shadow: -1px 6px 7px 0px #f5f4f4;
  border-radius: 10px;
}
.d-flex-col {
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  gap: 5px;
}

.custom-child {
  font-size: 12px;
}
h6 {
  font-size: 12px;
}
