ion-img {
  width: 100%;
  height: 100%;
  &::part(image) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 100%;
  border-radius: 10px;
  // padding: 10px;
  border-radius: 5px;
  background-color: var(--ion-background-color);
  // width: 10px;
}
ion-button::part(native) {
  padding: 0;
}
p {
  margin: 4px auto;
}


ion-slides {
  height: 100%;
  ion-slide {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

ion-item.reviews {
  &::part(native) {
    align-items: flex-start;
  }
}

.fixed-row {
  position: fixed;
  width: 93%;
  bottom: 0;
  z-index: 10;
}
.btn-row {
  transition: 1s all ease-in;
  &:active {
    transition: 1s all ease-in;
    transform: scale(1.5);
  }
}
.box-btn-row {
  &:hover {
    opacity: 1;
  }
}

h5{
  font-size: 13px !important;
}
ion-header .cart ion-icon {
  position: relative;
  &::after {
    content: attr(id);
    position: absolute;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    top: 0;
    transform: scale(0.9);
    padding: 1px;
    right: 0;
    color: white;
    font-size: 9px;
    font-weight: bold;
    z-index: 100;
    border-radius: 50%;
  }
}

@keyframes bounce {
  0%, 100% { transform: scale(1.5); }
  50% { transform: scale(1); }

}

.bounce {
  animation: bounce 0.8s ease-in-out infinite;
}
