<ion-header [translucent]="true" class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-icon class="ion-padding-start" size="small" slot="start" (click)="close()" name="chevron-back-outline">
    </ion-icon>
    <ion-title class="ion-text-center text-medium">Detail Produit</ion-title>
    <ion-buttons slot="secondary">
      <ion-button class="cart" (click)="onCart()">
        <ion-icon [id]="carts.length" slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="article && article.images" class="ion-padding-horizontal" [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)" (ionScrollEnd)="logScrollEnd()">
  <br>
  <div style="height: 300px; border-radius: 20px; background-color: transparent;overflow: hidden;position: relative;">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let item of article.images">
        <ion-img-viewer
        [src]="item.image"
        [slideOptions]="{ zoom: { maxRatio: 7}}"
        ></ion-img-viewer>
      </ion-slide>
    </ion-slides>
  </div>
  <br>
  <h5 style="color: #000;font-family: 'DM Sans Medium';">
    {{article.designation}}
  </h5>
  <div style="display:flex; align-items: center; gap: 5px;justify-content: flex-start;">
    <label style="font-family: 'DM Sans Medium';">Prix :</label>
    <span class="price-value">
      {{article.unitPrice}} π
    </span>
  </div>
  <br>
  <ion-item lines="full" [routerLink]="['/store/store-detail/', article.store!.id]"
    routerLinkActive="router-link-active">
    <ion-avatar slot="start">
      <img [src]="article.store!.logo"  loading="lazy"/>
    </ion-avatar>
    <ion-text class="ion-margin-bottom" color="primary">
      <h5 class="text-black">
        {{article.store!.name}}
      </h5>
      <ion-label class="text-black" style="font-size:15px">
        {{article.store!.address}} à {{article.store!.city}}
      </ion-label>
    </ion-text>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
  <h5 style="color: #000;font-size: small;font-family: 'DM Sans Medium';">
    Description
  </h5>
  <ion-text style="color: #000" color="primary">
    <span style="font-size:14px" [innerHTML]="article.detail">
    </span>
  </ion-text>
  <br>
  <ion-item class="reviews" lines="full" *ngFor="let item of rates">
    <ion-text class="ion-margin-bottom" color="primary" style="width:100%">
      <div style="display:flex" class="ion-justify-content-between ion-align-items-center ion-margin-top">
        <h4  class=" text-sm ">
          {{item.user.username | titlecase}}
        </h4>
        <ion-note class="text-sm">
          {{item.createdAt | date: 'dd/MM/yyyy  H:s aa'}}
        </ion-note>
      </div>
      <div style="display:flex; gap: 3px;font-size: 15px">
        <ion-icon slot="start" color="{{item.rate > 0 ? 'warning': ''}}"
          name="{{item.rate > 0 ? 'star': 'star-outline'}}">
        </ion-icon>
        <ion-icon slot="start" color="{{item.rate > 1 ? 'warning': ''}}"
          name="{{item.rate > 1 ? 'star': 'star-outline'}}">
        </ion-icon>
        <ion-icon slot="start" color="{{item.rate > 2 ? 'warning': ''}}"
          name="{{item.rate > 2 ? 'star': 'star-outline'}}">
        </ion-icon>
        <ion-icon slot="start" color="{{item.rate > 3 ? 'warning': ''}}"
          name="{{item.rate > 3 ? 'star': 'star-outline'}}">
        </ion-icon>
        <ion-icon slot="start" color="{{item.rate > 4 ? 'warning': ''}}"
          name="{{item.rate > 4 ? 'star': 'star-outline'}}">
        </ion-icon>
      </div>
      <p class="tex-sm text-dark ion-margin-top text-justify">
        {{
        item.comment
        }}
      </p>
    </ion-text>
  </ion-item>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom"  *ngIf="!checkedArticleAddedToCart();" (click)="addCart(article.id)">
    <ion-fab-button size="small" class="bounce">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngIf="currentUser ">
    <button (click)="onOpenModal()" class="ion-activatable ripple-parent custom-parent btn-warning">
      <ion-label>Ajouter mon avis</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </div>
  <div *ngIf="articles.length > 0" class=" d-flex ion-justify-content-between  ion-align-items-center">
    <h3 class="ion-margin-top text-medium">Autres produits</h3>
    <a href="http://" class="text-primary ">Voir plus</a>
  </div>
  <br>
  <swiper [config]="configP">
    <ng-template *ngFor="let item of articles" swiperSlide>
      <app-article [article]="item"></app-article>
    </ng-template>
  </swiper>
  <br>
  <br>
  <ion-modal mode="md" [initialBreakpoint]="0.40" [breakpoints]="[0, 0.25, 0.5, 0.75]" [isOpen]="isOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Commentaire & Etoile </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="rateForm">
          <ion-row class=" mt">
            <ion-col >
              <ion-item>
                <ion-textarea formControlName="comment" placeholder="Commentaire ici..."></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </form>
        <br>
        <div class="d-flex  ion-justify-content-center" style="gap: 35px">
          <ion-icon slot="start" color="{{rate > 0 ? 'warning': ''}}" name="{{rate > 0 ? 'star': 'star-outline'}}"
            (click)="setRate(1)" size="large"></ion-icon>
          <ion-icon slot="start" color="{{rate > 1 ? 'warning': ''}}" name="{{rate > 1 ? 'star': 'star-outline'}}"
            (click)="setRate(2)" size="large"></ion-icon>
          <ion-icon slot="start" color="{{rate > 2 ? 'warning': ''}}" name="{{rate > 2 ? 'star': 'star-outline'}}"
            (click)="setRate(3)" size="large"></ion-icon>
          <ion-icon slot="start" color="{{rate > 3 ? 'warning': ''}}" name="{{rate > 3 ? 'star': 'star-outline'}}"
            (click)="setRate(4)" size="large"></ion-icon>
          <ion-icon slot="start" color="{{rate > 4 ? 'warning': ''}}" name="{{rate > 4 ? 'star': 'star-outline'}}"
            (click)="setRate(5)" size="large"></ion-icon>
        </div>
        <br>
        <br>
        <ion-row class="btn-row mt">
          <ion-col size="12">
            <button class="ion-activatable ripple-parent custom-parent btn-primary" (click)="onSubmit()">
              <ion-label>Envoyer</ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
