.add-image {
  border-radius: 5px;
  ion-icon {
    width: 50px;
    height: 50px;
  };
  background-image: url('/assets/images/add-image.png');
  background-size: cover;
  width: 200px;
  height: 200px;
}

.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.image-preview-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}
