<ion-header [translucent]="true" class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-icon class="ion-padding-start" size="small" slot="start" (click)="close()" name="chevron-back-outline">
    </ion-icon>
    <ion-title class="ion-text-center" style="font-weight: 900">
      {{article ? 'Mis à jour du produit' : 'Nouveau produit'}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content class="ion-padding-horizontal">
  <form [formGroup]="addProduitForm" (ngSubmit)="onSubmit()">
    <ion-label>Ajouter des images</ion-label>
    <app-images #imageComponent (selectImageEvent)="getImage($event)"></app-images>
    <app-images #imageComponentUpdate (selectImageEvent)="getImageUpdate($event)"></app-images>

    <div class="ion-margin-vertical d-flex ion-align-items-center ion-justify-content-around"
      style="gap: 10px;flex-wrap: wrap;">
      <div class="add-image d-flex ion-align-items-center ion-justify-content-center"
        (click)="imageComponent.selectImageSource()">
        <ion-icon name="add" color="light"></ion-icon>
      </div>
    </div>
    <div  class="image-preview-container">
      <div *ngFor="let item of images;let i = index">
        <img class="image-preview" (click)="active(item,i)" [src]="item.preview" alt="" srcset="">
      </div>
    </div>
    <ion-item>
      <ion-label position="floating">Designation</ion-label>
      <ion-input required formControlName="designation" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categorie</ion-label>
      <ion-select required formControlName="categoryId" placeholder="Selectionner une categorie">
        <ion-select-option *ngFor="let c of categories" [value]="c.id">
          {{c.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Stock </ion-label>
      <ion-input required formControlName="stock" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Prix unitaire </ion-label>
      <ion-input required formControlName="unitPrice" type="number"></ion-input>
    </ion-item>
    <!-- <ion-item> -->
    <br>
    <ion-label position="floating">Detail</ion-label>
    <br>
    <br>
    <p-editor formControlName="detail" [style]="{'height':'200px'}"></p-editor>
    <!-- </ion-item> -->
    <br>


    <ion-row class="btn-row mt">
      <ion-col size="12">
        <button type="submit" [disabled]="submitted" class="ion-activatable ripple-parent custom-parent btn-primary">
          <ion-label *ngIf="!submitted;else loadingTemplate">
            {{article ? 'Mettre à jour' : 'Ajouter'}}
          </ion-label>
          <ng-template #loadingTemplate>
            <ion-spinner name="circular" color="light"></ion-spinner>
          </ng-template>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </ion-col>
    </ion-row>

  </form>
  <br>
  <br>
  <!-- <div class="ion-justify-content-between d-flex ion-align-items-center">
    <ion-label>
      Pièce d'identité
    </ion-label>
  </div> -->

  <br>
  <br>
</ion-content>
